<!-- <h1>Small Talk</h1>

<div class="intro">
  <p>Do you have trouble with small talk?</p>
  <p>Need a conversation starter?</p>
  <p>Well look no further! If you need help starting conversations at work, networking or just at a social event, take a look at our questions. You can also search by topics!</p>
</div>

<p><a href='/questions/'>Start a Coversation<p></a>
  <p><a href='/topics/'>Need a Specific Topic</p></a>
<p><a href='/topics/'>Pro? Add your own question</p></a> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="/public/js/app.js"></script>
<!-- <script type='text/javascript' src='config.js'></script> -->

<div data-ng-app="small">
  <main data-ui-view></main>
</div>
