
<div class="questions">
  {{#each questions}}
      <P>{{this.question}}</p>
  {{/each}}
</div>

<form action='/questions' method='post'>
  <input type='text' name='topic[name]' placeholder="topic" />
  <input type='text' name='topic[question]' placeholder="question" />
  <button type='submit'>Create a New Question</button>
</form>
