
<form action='/topics' method='post'>
  <input type='text' name='topic[name]' placeholder="topic" />
  <input type='text' name='topic[question]' placeholder="question" />
  <button type='submit'>Create a New Question</button>
</form>

<div class="topics">
  {{#each topics}}
  <p>{{this.name}}</p>
  <p>{{this.question}}</p>
  {{/each}}
</div>
