<br>
<p><a href='/'>Home</p></a>

<form action='/topics' method='post'>
  <input type='text' name='topic[name]' placeholder="topic" />
  <input type='text' name='topic[question]' placeholder="question" />
  <button type='submit'>Create a New Question</button>
</form>

<div class="topics">
  {{#each topics}}
    <div class="name">
      <p>{{this.name}}</p>
    </div>
    <div class="tquestion">
      <p>{{this.question}}</p>
      {{/each}}
    </div>
</div>
