h1 {
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  background: #E08E45;
}

.name{
  font-size: 25px;
  font-weight: bold;
  color: rgb(51, 41, 41);
}

.tquestions{
  background-color: #C59674;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  color: white;
}

.topics{
    background-color: #C59674;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
}

p {

}

.intro{
  text-align: center;
  background-color: rgba(236, 163, 109, .5);
  margin: 40px;
  padding: 3px;
}

body{
  background-color: #823038;
}

a:link {
    color: white;
    font-weight: bold;

}
a:visited {
    color: rgb(51, 41, 41);
    font-weight: bold;
}
a:hover {
    color: rgb(242, 197, 179);
}

a:active {
    color: white;
  }

  h1 {
    text-align: center;
  }

  .questions{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
  .button{
    margin: 3px;
  }
.search{
  color: white;
  padding: 5px;
}
h3{
  color: white;
}
